<div class="jumbotron center">
  <h1>Welcome to Tiles App</h1>
  <p>floating tiles makes great album!</p>
  <button type="button" class="btn btn-default">Log in</button>
  <button type="button" class="btn btn-primary">Join</button>
</div>